body {background-color: #e3f7cd;}
p {color: #2530a6;}
a {color: #381037;}
h1 {color: #4f6f48;}
h2 {color: #8e260c;}
nav {background-color: #f3f49d;
    padding: 10px;
    margin-bottom: 30px;}
nav a {color: #535050;}
nav a:hover {background-color: #398a8e;}
.title {text-align: center;}
.skills {display: flex;
flex: 75%;
justify-content: space-evenly;}
.other {
background-color: #4df5fb;
border-radius: 30px;
padding: 30px;}
.flexbox {display: flex;
margin: 70px;}
.flex2 {flex: 25%;
padding: 50px;}
.content {margin: 100px;}
.intro {margin-bottom: 40px; 
flex: 75%;}
.extrapoints {display: flex; margin: 70px;}
.nothing {flex: 25%;}
.img1 {max-width: 100%;}
.r2 {flex-wrap: wrap;}
@media only screen and (max-width: 414px) {
nav a {max-width: 100%;}
span {display: none;}
a {display: block;}
}
.skip {
    background-color: #ffa500;
    padding: 8px;
    border: 2px solid #000000;
    text-decoration: none;
    position: absolute; /* positions relative to top and bottom of viewport */
    top: 10px;
    left: -999px; /* push the button off screen */
}
.skip:focus { /* when the button if tabbed to */
    left: 10px; 
}